// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.container {
    width: 1000px;
    margin: auto;
}

.main {
    width: 1000px;
    margin: auto;
}