// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.container {
    width: 1000px;
    margin: auto;
    margin-top: 20px;

    &__title {
        text-align: center;
    }

    &__link {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        margin-top: 15px;
        align-items: center;
        &--width {
            width: 180px;
            height: 38px;
        }
        &--submit {
            width: 100px;
        }
    }
}

.author-link {
    text-decoration: none;
    color: #052c65;
    background-color: #cfe2ff;
    &:hover {
        font-weight: bold;
        color: #052c65;
        background-color: #cfe2ff;
    } 
} 

.article {
    display: flex;
    column-gap: 15px;
    align-items: center;
    
    &--author {
        column-gap: 23px;
        margin-top: 5px;
    }

    &--update {
        column-gap: 15px;
        margin-top: 5px;
    }

    &--update > a:hover {
        opacity: 0.75;
        transition: opacity 1s;
    }
}

// bootstrap pagination css 
ul.pagination {
    justify-content: right;
    margin-right: 8px;
}
.pagination > li > a:hover {
    color: black;
}
.pagination > li > a,
.pagination > li > span {
    color: black;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: black;
    border-color: black;
}